body {
    background-color:#0b0a0e;
}

.titre {
    color:white; }

#point{
    color: green
}

@font-face {
    font-family:Yeseva;
    src:
        url(../fonts/YesevaOne-Regular.ttf)
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.headright {
    text-align:right; 
}

.headright i {
    padding: 6px;
    margin-top: 15px
}

hr {
    color: grey;
}

p {
    font-family: Yeseva;
    color:white

}
#vert{
    color: green;
}

#credit{
    color: grey;
    text-align: center;
    font-size: 10px;
}

#outro{
    color: grey;
    text-align: center;
    font-size: 7px;
}

#texte{
    color: grey;
    font-size: 10px;
}

#cato{
    color: white;
    text-align: center;
    font-size: 11px;
}

#hello{
    font-size: 39px;
}